.hero-image{
    background-image: url("./images/scotland-1987599_1280.jpg") ;
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.hero-text{
    color:whitesmoke;
    position:absolute;
    top: 280px;
}